img {
	height: auto;
	display: block;
}
body {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 90px 0 20px;
	box-shadow: 0 0 50px rgba(0,0,0,0.2);
}
.div__clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}





.ka__container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.ka__header {
	position: fixed;
	top: 0;
	left: auto;
	right: auto;
	margin: 0 -20px;
	padding: 0 20px;
	width: 1160px;
	height: 90px;
	z-index: 999;
}
.ka__logo {
	float: left;
	height: 40px;
	padding: 25px 0;
}
.ka__logo img {
	height: 40px;
	width: auto;
	display: block;
}
.ka__logo span {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.06);
	width: 50px;
	display: none;
}
.ka__logo span:after {
	content: '';
	position: absolute;
	width: 24px;
	height: 30px;
	top: calc( 50% - 17px );
	left: 13px;
	border-width: 2px 0;
	border-style: solid;
}
.ka__logo span:before {
	content: '';
	position: absolute;
	width: 24px;
	height: 0;
	top: calc( 50% - 1px );
	left: 13px;
	border-width: 2px 0 0;
	border-style: solid;
}
.ka__menu {
	display: flex;
	float: right;
	height: 90px;
	line-height: 90px;
	margin: 0;
}
.is-desktop .accord li {
	float: left;
	height: 90px;
	position: relative;
}
.is-desktop .accord > li.menu-item-has-children:before {
	content: '';
	position: absolute;
	bottom: 20px;
	left: 0;
	height: 1px;
	width: 40px;
}
.is-desktop .accord li a {
	padding: 0 24px 0 0;
	display: block;
	font-weight: 600;
	font-size: 16px;
}
.is-desktop .accord li > ul {
	display: none;
	position: absolute;
	top: 90px;
	left: 0;
	padding: 10px 0;
	box-shadow: 0 -10px 20px rgba(0,0,0,0.1);
}
.is-desktop .accord li:hover > ul {
	display: block;
}

.is-desktop .accord ul li {
	display: block;
	width: 200px;
	height: auto;
	line-height: 1.25;
}

.is-desktop .accord ul li a {
	padding: 8px 20px;
	font-size: 15px; 
}

.is-desktop .accord ul li > ul {
	top: -10px;
	left: 100%;
	display: none;
}

.ka__call {
	margin: 0 0 0 50px;
	display: flex;
	font-size: 16px;
	font-weight: 600;
}
.ka__call .call__icon {
	position: relative;
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	margin: 33px 15px 33px 5px;
	text-align: center;
	position: relative;
	border-radius: 4px;
}
.call__icon:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 24px;
	height: 24px;
	transform: rotate(45deg);
	border-radius: 4px;
}
.call__icon i {
	position: relative;
	z-index: 1;
}

#bigslider {
	text-align: center;
	margin: 0 0 25px;
}
#bigslider .item  {
	border-radius: 20px;
}
#bigslider .item {
	border-radius: 20px;
	overflow: hidden;
}

#bigslider .item img {
	pointer-events: none;
}

#bigslider .owl-theme .owl-dots {
	position: relative;
	width: auto;
	display: inline-block;
	padding: 10px;
	height: 10px;
	border-radius: 30px;
	margin: -15px 0 0;
	z-index: 1;
}
#bigslider .owl-theme .owl-dots .owl-dot {
	float: left;
}
#bigslider .owl-theme .owl-dots .owl-dot span {
	margin: 0 3px;
	height: 10px;
	width: 10px;
	transition: all .2s ease;
}

#bigslider .owl-theme .owl-dots .owl-dot.active span {
	margin: 0 3px;
	width: 40px;
}

.ka__sholattime {
	position: relative;
	margin: 0 0 40px;
}
.wm__headspan {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
}

.khalifah #timewpmtableIDS {
	background: none;
	margin: 0 -3px;
}
#wpmprayerIDS {
	text-align: right;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	margin: 0 0 25px;
}
.wpm_singleIDS {
	width: calc( 16.66% - 46px );
	margin: 0 3px;
	float: left;
	padding: 20px;
	border-radius: 10px;
	position: relative;
	font-size: 16px;
	background: rgba(0,0,0,0.03);
}
.wpm__estTime {
	font-size: 26px;
	font-weight: bold;
	font-family: Montserrat;
}
.wpm_singleIDS:after {
	position: absolute;
	right: 15px;
	top: 5px;
	font-size: 35px;
	font-family: 'IcoFont';
	font-style: normal;
  font-weight: normal;
}
.wpm_singleIDS:nth-child(1):after {
	content: '\ee66';
}
.wpm_singleIDS:nth-child(2):after {
	content: '\ee63';
}
.wpm_singleIDS:nth-child(3):after {
	content: '\ee58';
}
.wpm_singleIDS:nth-child(4):after {
	content: '\ee58';
}
.wpm_singleIDS:nth-child(5):after {
	content: '\ee80';
}
.wpm_singleIDS:nth-child(6):after {
	content: '\ee57';
}




/* MUSLIMPRO */


.khalifah .MPwidget {
    width: 100% !important;
    background: none !important;
    box-shadow: 0 0 0 rgba(250, 250, 250, 0) !important;
	margin: 0 !important;
}

.khalifah .MPheader {
    background: none !important;
    height: 20px;
	min-height: 20px !important;
    line-height: 20px;
	padding: 0 !important;
    font-size: 16px;
    margin: 0 0 20px !important;
	font-family: Inter !important;
}

.khalifah .MPheader .logo {
    display: none !important;
}
.khalifah .MPheader a {
	pointer-events: none;
}
.khalifah .MPheader .title {
    padding: 0;
    height: 20px !important;
    line-height: 20px  !important;
    font-size: 16px !important;
	text-align: right;
}

.khalifah .MPwidget .title a {
    font-style: normal;
    pointer-events: none;
}

.khalifah .MPtimetable tr:first-child {
    display: none;
}
.khalifah .MPtimetable {
	margin: 0;
	table-layout: fixed;
}
.khalifah .MPtimetable tr {
    display: inline-table;
    position: relative;
	width: 16.66%;
    position: relative;
    font-size: 16px;
}

.khalifah .MPtimetable tr:before {
	content: '';
	position: absolute;
	top: 0;
	left: 3px;
	right: 3px;
	bottom: 0;
	border-radius: 5px;
	background: rgba(0,0,0,0.03);
}

.khalifah .MPtimetable tr:after {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 35px;
  font-family: 'IcoFont';
  font-style: normal;
  font-weight: normal;
  z-index: 1;
}

.khalifah .MPtimetable tr:nth-child(2):after {
	content: '\ee66';
}

.khalifah .MPtimetable tr:nth-child(3):after {
	content: '\ee63';
}

.khalifah .MPtimetable tr:nth-child(4):after {
	content: '\ee58';
}

.khalifah .MPtimetable tr:nth-child(5):after {
	content: '\ee58';
}

.khalifah .MPtimetable tr:nth-child(6):after {
	content: '\ee80';
}

.khalifah .MPtimetable tr:nth-child(7):after {
	content: '\ee57';
}

.khalifah .MPtimetable td {
    position: relative;
    display: flex;
    width: auto;
    color: rgba(0, 0, 0, 0);
}

.khalifah .MPtimetable td:nth-child(1) {
    padding: 20px 20px 0 !important;
	height: 22px;
	line-height: 22px;
	font-size: 15px;
}
.khalifah .MPtimetable td:nth-child(2) {
    padding: 0 20px 20px !important;
	height: 36px;
	line-height: 36px;
	font-size: 26px;
	font-family: Montserrat;
}

.khalifah .MPtimetable tr td:before {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 22px;
    line-height: 22px;
}





.khalifah .MPfooter {
    display: none !important;
}

/* MUSLIMPRO */





.ka__contact {
	margin: 0 0  40px;
}
.ka__loopdkm {
	float: left; width: calc( 60% - 30px ); margin: 0 15px;
}
.wa__dkm .item {
	border-radius: 10px;
}
.ka__dkmimg {
	width: 120px;
	height: 120px;
	margin: 0 15px 0 0;
	float: left;
}
.ka__dkmimg img {
	border-radius: 10px;
	width: 100%;
}
.ka__dkm {
	margin: 0 -15px;
}
.ka__conadd {
	float: right; 
	width: calc( 40% - 30px ); 
	margin: 0 15px;
}
.ka__address {
	position: relative;
	height: 70px;
	padding: 25px 60px 25px  25px;
	border-radius: 10px; 
	overflow: hidden;
}
.ka__address:before {
	content: '';
	position: absolute;
	top: -50px;
	right: -50px;
	width: 150px;
	height: 80px;
	border-radius: 100px;
}
.ka__address:after {
	content: '';
	position: absolute;
	top: -20px;
	right: -15px;
	width: 80px;
	height: 80px;
	border-radius: 100px;
}
.ka__addr {
	height: 70px;
	overflow: hidden;
}
.ka__address i {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 30px;
	z-index: 2;
}
.ka__name {
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 8px;
}
.ka__dkmbio {
	float: left;
	width: calc( 100% - 135px );
	padding: 10px 0;
}
.ka__takpos {
	opacity: 0.7;
}
.ka__takmir {
	height: 40px;
	line-height: 20px;
	font-size: 18px;
	font-weight: 600;
	margin: 0 0 10px;
}
.ka__pro {
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	border-radius: 30px;
	display: inline-block;
	font-size: 12px;
}




















.ka__homepage {
	margin: 0 0 30px;
}
/* GALERI IMAGE */
.kagal__box {
	margin: 0 -3px 40px;
}
.kaloop__galeri {
	width: 25%;
	float: left;
}
.kain__galeri {
	position: relative;
	margin: 0 3px;
	border-radius: 10px;
	overflow: hidden;
}
.kain__galeri img {
	width: 100%;
}
.kaall__galeri {
	content: '';
	position: absolute;
	height: 36px;
	top: calc( 50% - 18px );
	left: 0;
	right: 0;
	text-align: center;
	z-index: 2;
}
.kaall__galeri a {
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 15px;
	font-weight: bold;
	border-radius: 36px;
}

.kaloop__galeri:nth-child(4) .kain__galeri:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
	opacity: 0.8;
	z-index: 1;
}

/* TAUSIYAH */
.widget__tausiyah {
	margin: 0 0 40px;
}
.katau__title {
	position: relative;
	display: block;
font-size: 22px;
font-weight: bold;
line-height: 1.25;
margin: 0 auto 30px;
text-align: center;	
}
.katau__title:after {
	content: '';
	position: absolute;
	bottom: -10px;
	width: 80px;
	left: calc( 50% - 40px );
}
.tau__item {
	border-radius: 10px;
	overflow: hidden;
}
.tau__item img {
	border-radius: 10px;
	margin: 0 0 15px;
}
.tau__img {
	position: relative;
}
.tau__time {
	position: absolute;
	right: 20px;
	bottom: 15px;
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 26px;
}
.tau__meta {
	padding: 0 10px;
}
.tau__aut {
	font-size: 13px;
	margin: 0 0 10px;
}
.tau__ttl {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.25;
	margin: 0 0 8px;
	overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.tau__excerpt {
	overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0;
}

/* JADWAL JUMAT */
.kajum__meta {
	margin: 0 0 40px;
	background: rgba(0,0,0,0.07);
	padding: 30px 22px 14px;
	border-radius: 10px;
	position: relative;
}
.kajum__date {
	float: left;
	width: 40%;
	font-size: 22px;
	padding: 50px 0;
}
.jum__date {
	font-size: 36px;
	font-weight: bold;
}
.jum__countdown {
	font-size: 18px;
	position: absolute;
	bottom: 30px;
	left: 30px;
}
.kajum__data {
	float: left;
	width: 60%;
}
.kajum__block {
	position: relative;
	float: left;
	width: calc( 50% - 76px );
	margin: 0 8px 16px;
	padding: 30px;
	height: 80px;
	font-size: 20px;
	line-height: 1.25;
	border-radius: 10px;
	overflow: hidden;
}
.kajum__block:before {
	position: absolute;
	bottom: -8px;
	right: 20px;
	font-size: 80px;
	height: 80px;
	font-weight: 900;
	letter-spacing: -4px;
	opacity: 0.06;
}
.block__imam:before {
	content: 'IMAM';
}
.block__khatib:before {
	content: 'KHATIB';
}
.block__muadzin:before {
	content: 'MUADZIN';
}
.block__bilal:before {
	content: 'BILAL';
}
.kajum__label {
	opacity: 0.7;
	font-size: 14px;
	margin: 0 0 5px;
	text-transform: uppercase;
}


/* PETUGAS HARIAN */
.widget_petugas_harian {
	margin: 0 0 40px;
}

.kashalat__title {
	position: relative;
	display: block;
font-size: 22px;
font-weight: bold;
line-height: 1.25;
margin: 0 auto 30px;
text-align: center;	
}
.kashalat__title:after {
	content: '';
	position: absolute;
	bottom: -10px;
	width: 80px;
	left: calc( 50% - 40px );
}
.kashalat__in {
	padding: 30px 30px 10px;
	border-radius: 10px;
	position: relative;
}
.kashalat__in i {
	position: absolute;
	bottom: 25px;
	right: 15px;
	font-size: 50px;
}
.shalat__name {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 10px 0 20px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0 15px 0 20px;
	opacity: 0.9;
	
}
.shalat_petugas {
	margin: 0 0 10px;
}
.shalat_petugas span {
	display: block;
	font-size: 14px;
}
.shalat_petugas span:nth-child(2) {
	font-size: 18px;
	line-height: 1.25;
	font-weight: bold;
	margin: 0 0 5px;
}

/* LAPORAN DANA */
.widget_laporan_dana {
	margin: 0 0 40px;
}
.kadana__show {
	margin: 0 -10px;
}
.kadana__info {
	width: 40%;
	float: left;
}
.kadana__list {
	width: 60%;
	float: left;
}
.kadana__text {
	margin: 0 10px;
	padding: 30px;
	border-radius: 10px;
}
.dana__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 100px 20px 0;
}
.dana__addtext {
  font-size: 16px;
  line-height: 1.4;
  margin: 0 60px 20px 0;
}
.kadana__out {
	margin: 0;
}
.kadana__in {
	position: relative;
	float: left;
	width: calc( 50% - 140px );
	margin: 0 10px;
	padding: 30px 90px 30px 30px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.kadana__in i {
	position: absolute;
	top: 10px; 
	right: 20px;
	font-size: 40px;
}
.kadana__date {
	font-size: 14px;
	opacity: 0.7;
	margin: 0 0 5px;
}
.kadana__name {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.2;
	height: 66px;
	margin: 0 0 20px;
}
.kadana__nom {
	font-size: 20px;
}


/* LAPORAN INFAQ */
.widget_laporan_infaq {
	margin: 0 0 40px;
}
.kalap__block {
	margin: 0 -10px;
}
.kalap__saldo {
	float: left;  width: calc( 30% - 20px ); margin: 0 10px;
}
.saldo__in {
	position: relative;
	padding: 30px;
	border-radius: 10px;
	height: 194px;
	overflow: hidden;
}
.saldo__in.saldo__tax {
	height: auto;
}
.saldo__in:before {
	content: '';
	position: absolute;
	bottom: -120px;
	right: -90px;
	width: 400px;
	height: 400px;
	border-radius: 400px;
	background: #fff;
	opacity: 0.1;
}

.saldo__in:after {
	content: '';
	position: absolute;
	bottom: -100px;
	right: -190px;
	width: 400px;
	height: 400px;
	border-radius: 400px;
	background: #fff;
	opacity: 0.1;
}
.saldo__title {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.2;
	margin: 0 0 35px;
	position: relative;
}
.saldo__real span {
display: inline-block;
height: 24px;
line-height: 24px;
font-size: 11px;
font-weight: bold;
padding: 0 10px;
border-radius: 24px;
margin: 0 0 5px;
position: relative;
}	
.saldo__show {
	font-weight: 800;
	font-size: 30px;
	position: relative;
}
.rek__link {
	position: absolute;
	bottom: 20px;
	right: 30px;
	height: 36px;
	line-height: 36px;
	padding: 0 15px;
	font-weight: bold;
	border-radius: 30px;
	
z-index: 2;
}
.kalap__rek {
float: left;
width: calc( 30% - 20px ); 
margin: 0 10px;	
}
.rek__in {
	padding: 30px;
	height: 194px;
	border-radius: 10px;
	overflow: hidden;
}
.karek__title {
	display: inline-block;
	border-width: 2px;
	border-style: solid;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	margin: 0 0 15px;
	font-weight: bold;
}
.kalap__table {
	position: relative;
	float: left; 
	width: calc( 40% - 20px ); 
	margin: 0 10px;
	font-size: 16px;
}
.kalap__table:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 1px;
	opacity: 0.2;
}
.dana__right {
	text-align: right;
}
.dana__infaq {
	width: 100%;
}
.dana__infaq strong {
	text-transform: uppercase;
}
.dana__infaq td {
	position: relative;
	padding: 10px 30px 10px 0;
	vertical-align: middle;
}
.dana__infaq td:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	opacity: 0.2;
}
.dana__desc {
	overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.dana__infaq td.dana__right {
	padding: 10px 0;
}
.dana__jum {
	font-weight: 600;
}
.status__out {
	color: #f66;
}
.dana__date {
	font-size: 90%;
	opacity: 0.7;
}
.saldo__line {
	font-size: 16px;
	line-height: 1.25;
	margin: 0 0 15px;
}
.karek__img {
	float: right;
	width: 90px;
	height: 90px;
	margin: 0 0 0 20px;
	background: #fff;
	overflow: hidden;
}
.karek__list {
	float: left;
	width: calc( 100% - 110px );
}
.namarek {
	font-weight: bold;
}
.koderek {
	font-size: 90%;
	opacity: 0.8;
}
.nomerrek {
	padding: 8px 0 0;
}

/* PERPUSATKAAN */
.widget_perpustakaan  {
	margin: 0 -20px 40px;
	padding: 30px 20px 20px;
	background: rgba(0,0,0,0.06);
}
.kalib__title {
	position: relative;
	display: block;
font-size: 22px;
font-weight: bold;
line-height: 1.25;
margin: 0 auto 30px;
text-align: center;	
}
.kalib__title:after {
	content: '';
	position: absolute;
	bottom: -10px;
	width: 80px;
	left: calc( 50% - 40px );
}
.kali__loop {
	margin: 0 -10px;
}
.kali__book {
	float: left;
	width: calc( 33.33% - 20px );
	margin: 0 10px 20px;
}
.book__cover {
	float: right;
	width: 120px;
	height: 160px;
	background: rgba(0,0,0,0.1);
	margin: 0 0 0 15px;
	position: relative;
	overflow: hidden;
}
.book__count {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 25px;
	line-height: 25px;
	width: 25px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	border-radius: 0 0 4px;
	z-index: 2;
}
.book__cover img {
	width: 100%;
	border-radius: 4px;
}
.book__data {
	float: left;
	width: calc( 100% - 155px );
	padding: 0 0 0 20px
}
.book__title {
	font-size: 16px;
	line-height: 1.25;
	margin: 15px 0 15px;
	overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.book__page {
	font-size: 90%;
	opacity: 0.8;
	margin: 0 0 10px;
}
.book__author {
	overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
	margin: 0 0 3px;
}
.book__author i {
	width: 25px;
	opacity: 0.7;
}

.book__publisher {
	overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
	margin: 0 0 3px;
}
.book__publisher i {
	width: 25px;
	opacity: 0.7;
}




/* LAYANAN MASJID */
.widget_layanan_masjid {
	margin: 0 0 40px;
}

.kalay__title {
	position: relative;
	display: block;
font-size: 22px;
font-weight: bold;
line-height: 1.25;
margin: 0 auto 30px;
text-align: center;	
}
.kalay__title:after {
	content: '';
	position: absolute;
	bottom: -10px;
	width: 80px;
	left: calc( 50% - 40px );
}
.kalay__block {
	border-radius: 10px;
	overflow: hidden;
}
.kalay__data {
	padding: 15px 20px;
	position: relative;
}
.kalay__data:after {
	content: '';
	position: absolute;
	top: -10px;
	left: 30px;
	width: 20px;
	height: 20px;
	transform: rotate(45deg);
}
.kalay__link {
	font-size: 16px;
	line-height: 1.25;
	font-weight: bold;
	margin: 0 0 10px;
}
.kalay__link a {
	overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.kalay__contact {
	position: relative;
	padding: 0 50px 0 0;
}
.kalay__phone {
	opacity: 0.7;
}
.kalay__call {
	position: absolute;
	top: calc( 50% - 16px );
	right: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 30px;
	text-align: center;
}

/* INVENTARIS */
.widget_inventaris_masjid {
	margin: 0 0 40px;
}
.kainv__title {
	position: relative;
	display: block;
font-size: 22px;
font-weight: bold;
line-height: 1.25;
margin: 0 auto 30px;
text-align: center;	
}
.kainv__title:after {
	content: '';
	position: absolute;
	bottom: -10px;
	width: 80px;
	left: calc( 50% - 40px );
}

.kainv__post img {
	border-radius: 10px;
	display: block;
	margin: 0 0 15px;
}
.kainv__cat {
	font-size: 16px;
	font-weight: bold;
}

/* AGENDA */

.widget__agpeng {
	margin: 0 -10px;
}
.box__agenda {
	float: left;
	width: 60%;
}

.out__agenda {
	margin: 0 0 20px;
	display: flex;
    flex-wrap: wrap;
}

.kaev__loop {
	display: inline-block;
	width: 50%;
}

.kaev__box {
	position: relative;
	margin: 0 10px 20px;
	padding: 30px;
	border-radius: 10px;
	overflow: hidden;
}
.kaev__box:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.15;
}
.kaev__date {
	position: relative;
	z-index: 2;
	float: right;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	margin: 0 0 0 15px;
	text-align: center;
}
.kaev__top {
	height: 35px;
	line-height: 45px;
	font-size: 28px;
	font-weight: bold;
}
.kaev__bot {
	height: 20px;
	line-height: 15px;
	font-size: 13px;
}
.kaev__title {
	position: relative;
	z-index: 2;
	margin: 2px 0;
	font-size: 15px;
	line-height: 1.25;
}
.kaev__title a {
	overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Pengumuman */
.kapeng__box {
	float: right;
	width: calc( 40% - 10px );
	margin: 0 0 40px;
}
.kapeng__inner {
	margin: 0 10px;
}

.kapeng__title {
	position: relative;
	display: block;
font-size: 22px;
font-weight: bold;
line-height: 1.25;
margin: 0 auto 30px;
}
.kapeng__title:after {
	content: '';
	position: absolute;
	bottom: -10px;
	width: 80px;
	left: 0;
}
.kapeng__date {
	margin: 0 0 4px;
}
.kapeng__link {
	font-size: 18px;
	font-weight: 600;
	margin: 0 0 10px;
}

/* LEMBAGA */
.widget_daftar_lembaga {
	margin: 0 0 40px;
}

/* VIDEO */
.widget_galeri_video {
	margin: 0 -20px 40px;
	padding: 20px 20px 0;
}
.kavid__title {
	position: relative;
	display: block;
font-size: 22px;
font-weight: bold;
line-height: 1.25;
margin: 0 auto 30px;
text-align: center;	
}
.kavid__title:after {
	content: '';
	position: absolute;
	bottom: -10px;
	width: 80px;
	left: calc( 50% - 40px );
}

.box__video {
	margin: 0 -10px;
}
.kavid__loop {
	float: left;
	width: 33.33%;
}
.kavid__inn {
	margin: 0 10px 20px;
}
.kavid__inn iframe {
	display: block;
	width: 100%;
	height: 210px;
	border-radius: 10px;
	overflow: hidden;
}

/* LOOP POST */
.ka__postloop {
	margin: 0 -10px;
}
.ka__postloop.ka__library {
	margin: 0 -20px 20px;
	padding: 20px 10px 0;
	background: rgba(0,0,0,0.06);
}
.ka__looppost {
	float: left;
	width: 25%;
}
.ka__takmirloop {
	float: left;
	width: 33.33%;
}
.ka__postloop .ka__takmirloop .div__clear {
	display: block;
	margin: 0 10px 20px;
}
.ka__loopinn {
	margin: 0 10px 20px;
}
.ka__loopimg {
	margin: 0 0 15px;
}
.ka__loopimg img {
	width: 100%;
	border-radius: 10px;
	display: block;
}

.ka__loopimg iframe {
	width: 100%;
	display: block;
	height: 160px;
}

.ka__postloop .div__clear {
	display: none;
}
.ka__postloop .div__clear:nth-child(8n) {
	display: block;
}
.ka__postloop .kadkm__clear.div__clear {
	display: none;
}
.ka__postloop .kadkm__clear.div__clear:nth-child(6n) {
	display: block;
}
.ka__loopmeta {
  padding: 0 10px;
}
.ka__banklogo {
	margin: 0 0 20px;
}
.ka__jumat .ka__loopmeta {	
padding: 0;
}
.ka__loopjumat {
	padding: 10px 0;
	border-top: 1px solid #ddd;
}
.ka__loopjumat span {
	font-size: 14px;
}
.ka__loopjumat div {
	font-weight: bold;
	font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.ka__looptime {
  font-size: 13px;
  margin: 0 0 10px;
}
.ka__looptime span {
	display: inline-block;
	width: 70px;
	font-weight: bold;
}
.ka__looptitle {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.25;
  margin: 0 0 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ka__postshow {
	margin: 0 -10px;
}

/* Heading */
.ka__heading {
	position: relative;
	text-align: center;
	font-size: 22px;
	margin: 0 0 30px;
}
.ka__heading:after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 80px;
  left: calc( 50% - 40px );
}


/* Single */
.ka__singpost {
	float: left;
	width: calc( 100% - 360px );
}
.ka__singin {
	margin: 0 10px;
	padding: 0 30px;
}
.sing__date {
	margin: 0 0 10px;
	font-size: 16px;
}
.sing__heading {
	padding: 0 150px 0 0;
	margin: 0 0 20px;
	font-size: 35px;
	line-height: 1.25;
}
.sing__meta {
	margin: 0 0 20px;
	font-size: 14px;
}
.sing__meta span {
	float: right;
}

.sing__thumb {
	margin: 0 0 20px;
}
.sing__thumb img {
	display: block;
	width: 100%;
	border-radius: 15px;
}
.sing__thumb iframe {
	display: block;
	width: 100%;
	height: 410px;
}
.takmir__thumb {
	margin: 0 0 20px;
	text-align: center;
}
.takmir__thumb img {
	display: block;
	width: auto;
	max-width: 300px;
	margin: 0 auto;
	border-radius: 15px;
}
.sing__share {
	text-align: center;
	height: 36px;
	margin: 0 0 20px;
}
.sing__share a {
	display: inline-block;
	width: 36px;
	line-height: 36px;
	border-radius: 36px;
	margin: 0 1px;
}
.sing__content {
	margin: 0;
}
.sing__content.sing__nopost {
	margin: 0 0 30px;
}


.sing__content h1,
.sing__content h2,
.sing__content h3,
.sing__content h4,
.sing__content h5,
.sing__content h6 {
    font-weight: 700;
    line-height: 1.2;
    margin: 5px 0 15px;
}

.sing__content h1 {
    font-size: 34px;
}

.sing__content h2 {
    font-size: 30px;
}

.sing__content h3 {
    font-size: 26px;
}

.sing__content h4 {
    font-size: 22px;
}

.sing__content h5 {
    font-size: 18px;
}

.sing__content h6 {
    font-size: 16px;
}

.sing__content p {
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.sing__content table td {
    vertical-align: top;
}

.sing__content ol {
    list-style: decimal;
    padding-left: 15px;
    margin: 15px 0;
}

.sing__content ul {
    list-style: disc;
    padding-left: 15px;
    margin: 15px 0;
}

.sing__content li {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin: 3px 0;
}

.sing__content blockquote {
    padding: 15px 0 15px 45px;
    margin: 0 0 15px;
    background: rgba(125, 125, 125, 0.1);
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 1.5;
}

.sing__content blockquote p {
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 1.5;
}

.sing__content .post-img img {
    margin: 0 0 15px;
    height: auto;
    display: block;
    width: 100%;
}

.sing__content .edi-img img {
    float: left;
    width: 300px;
    margin: 0 20px 20px 0;
}

.sing__content h6 {
    position: relative;
}

.sing__content img,
.sing__content .attachment img {
    max-width: 100%;
    height: auto;
}

.sing__content .alignnone,
.sing__content img.alignnone {
    clear: both;
    display: block;
    margin-bottom: 15px;
}

.sing__content .alignleft,
.sing__content img.alignleft {
    display: inline;
    float: left;
    margin-right: 25px;
    margin-top: 4px;
}

.sing__content .alignright,
.sing__content img.alignright {
    display: inline;
    float: right;
    margin-left: 25px;
    margin-top: 4px;
}

.sing__content .aligncenter,
.sing__content img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sing__content img.alignleft,
.sing__content img.alignright,
.sing__content img.aligncenter {
    margin-bottom: 15px;
}

.sing__content .wp-caption {
    line-height: 18px;
    margin-bottom: 20px;
    padding: 4px;
    text-align: center;
}

.sing__content .wp-caption img {
    margin: 5px 5px 0;
}

.sing__content .wp-caption p.wp-caption-text {
    font-size: 12px;
    margin: 5px;
}

.sing__content .wp-smiley {
    margin: 0;
}

.sing__content .gallery {
    margin: 0 -8px 18px !important;
}

.sing__content .gallery dl dt {
    padding: 8px;
}

.sing__content .gallery .gallery-item {
    float: left;
    margin: 0 !important;
    text-align: center;
}

.sing__content .gallery.gallery-columns-1 .gallery-item {
    width: 100% !important;
}

.sing__content .gallery.gallery-columns-2 .gallery-item {
    width: 50% !important;
}

.sing__content .gallery.gallery-columns-3 .gallery-item {
    width: 33.333% !important;
}

.sing__content .gallery.gallery-columns-4 .gallery-item {
    width: 25% !important;
}

.sing__content .gallery.gallery-columns-6 .gallery-item {
    width: 16.16777% !important;
}

.sing__content .gallery.gallery-columns-8 .gallery-item {
    width: 12.5% !important;
}
figure.wp-block-gallery.has-nested-images {
	margin: 0 0 20px;
}
.sing__content .gallery .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border: none !important;
    margin-bottom: 0;
}

.sing__content .gallery .gallery-caption {
    font-size: 14px;
    margin: 0 0 14px;
}

.sing__content .gallery dl {
    margin: 0;
}

.sing__content .gallery br + br {
    display: none;
}

.sing__content .attachment img {
    display: block;
    margin: 0 auto;
}
.sing__tag {
	margin: 0 0 40px;
}
.sing__tag a {
	display: inline-block;
	height: 26px;
	line-height: 24px;
	font-size: 13px;
	padding: 0 12px;
	border-radius: 5px;
	margin: 0 4px 8px 0;
}
.sing__nav {
	font-size: 16px;
	padding: 10px 0 0;
}
.sing__prev {
	height: 45px;
	float: left;
	width: calc( 45% - 45px );
	margin: 0 0 40px;
	padding: 0 0 0 45px; 
	position: relative;
	overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sing__prev i {
	position: absolute;
	width: 30px;
	height: 45px;
	line-height: 45px;
	left: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	border-radius: 4px;
}
.sing__next {
	height: 45px;
	float: right;
	width: calc( 45% - 45px );
	margin: 0 0 40px;
	padding: 0 45px 0 0;
	position: relative;
	text-align: right;
	overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sing__next i {
	position: absolute;
	width: 30px;
	height: 45px;
	line-height: 45px;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	border-radius: 4px;
}

.sing__content .comment-form p {
	font-size: 14px;
}
#comment {
	width: calc( 100% - 30px );
	padding: 12px 14px;
	border: 1px solid #ccc;
	height: 200px;
}
.comment-form-author,
.comment-form-email,
.comment-form-url {
	display: flex;
}
.comment-form-author label,
.comment-form-email label,
.comment-form-url label {
	width: 100px;
	display: inline-block;
	line-height: 30px;
}
#author,
#email,
#url {
	display: inline-block;
	width: calc( 100% - 130px );
	padding: 0 14px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccc;
}
#submit {
	height: 36px;
	line-height: 36px;
	padding: 0 20px;
	border: 0;
	font-weight: bold;
	border-radius: 8px;
}
.sing__content .form-submit {
	margin: 0 0 40px;
}


.ka__avatar {
	width: 40px;
	height: 40px;
	float: left;
	margin: 20px 30px 0 0;
}
.ka__avatar img {
	border-radius: 40px;
}

.ka__commeta {
	float: left;
	width: calc( 100% - 70px );
	margin: 0 0 30px;
}
.ka__commeta p {
	font-size: 14px;
	background: rgba(0,0,0,0.03);
	padding: 15px;
	margin: 0 0 10px;
}
.cdate {
	opacity: 0.7;
	font-size: 90%;
}
.ka__commeta .url {
	font-weight: bold;
	text-transform: capitalize;
	font-size: 120%;
}

.sing__content ul.children {
	padding-left: 70px;
}




.pagination {
	text-align: center;
}
.pagination a {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0 1px;
	border-radius: 30px;
}



/* Sidebar */
.ka__sidebar {
	float: right;
	width: 360px;
	position: sticky;
	top: 120px;
}
#sidebar {
	margin: 0 10px;
}




#sidebar .widget_block {
    padding: 20px 30px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
    margin: 0 0 30px;
    font-size: 15px;
    line-height: 1.4;
}

.widget_block h1 {
    font-size: 27px;
    margin: 0 0 10px;
}

.widget_block h2 {
    font-size: 25px;
    margin: 0 0 10px;
}

.widget_block h3 {
    font-size: 22px;
    margin: 0 0 10px;
}

.widget_block h4 {
    font-size: 18px;
    margin: 0 0 10px;
}

.widget_block h5 {
    font-size: 17px;
    margin: 0 0 10px;
}

.widget_block h6 {
    font-size: 16px;
    margin: 0 0 10px;
}

.widget_block p {
    margin: 0 0 10px;
}

.widget_block ul,
.widget_block ol {
    margin: 0 0 10px;
}

.widget_block ul li,
.widget_block ol li {
    margin: 0 0 0 15px;
}

.widget_block blockquote {
    padding: 15px;
    background: rgba(0, 0, 0, 0.02);
    font-size: 16px;
}

.widget_block blockquote cite {
    font-size: 15px;
}

.widget_block .wp-block-code code {
    padding: 15px;
    background: rgba(0, 0, 0, 0.02);
}

.widget_block .wp-block-table {
    width: 100%;
}

.widget_block .wp-block-table td {
    padding: 10px;
    border: 1px solid rgba(125, 125, 125, 0.3);
    margin: 0 0 -1px -1px;
}

.widget_block .wp-block-pullquote blockquote {
    background: none;
}

.widget_block figcaption {
    font-size: 12px;
    padding: 5px 0;
}

.widget_block .wp-block-archives,
.widget_block .wp-block-categories {
    margin: 0;
    list-style: none;
}

.widget_block .wp-block-archives li,
.widget_block .wp-block-categories li {
    padding: 0 0 10px;
    margin: 0 0 10px;
    border-bottom: 1px dashed rgba(125, 125, 125, 0.3);
}

.widget_block .wp-block-calendar table th {
    background: rgba(0, 0, 0, 0.05);
}

.widget_block .wp-block-calendar table caption {
    font-size: 16px;
    padding: 0 0 10px;
}

.widget_block .wp-calendar-nav {
    padding: 10px 0;
}

.widget_block .wp-block-latest-comments__comment {
    padding: 0 0 10px;
    margin: 0 0 10px;
    border-bottom: 1px solid rgba(125, 125, 125, 0.3);
    line-height: 1.4;
}

.widget_block .wp-block-latest-comments__comment-excerpt p {
    line-height: 1.4;
}

.widget_block .wp-block-latest-comments__comment-date {
    font-style: italic;
}

.widget_block .wp-block-latest-posts.wp-block-latest-posts__list li,
.widget_block .wp-block-pages-list__item {
    margin: 0 0 10px;
    padding: 0 0 10px;
}

.widget_block .wp-block-latest-posts.wp-block-latest-posts__list li time {
    font-size: 12px;
    line-height: 1.3;
}

.widget_block .wp-block-page-list {
    list-style: none;
}

.widget_block .wp-block-pages-list__item.has-child {
    padding: 0;
}

.widget_block .wp-block-pages-list__item.has-child .submenu-container {
    margin: 10px 0 0 15px;
}

.widget_block .wp-block-rss {
    list-style: none;
}

.widget_block .wp-block-rss__item {
    padding: 0 0 10px;
    margin: 0;
}

.widget_block .wp-block-tag-cloud a {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    font-size: 15px !important;
    padding: 0 10px;
    margin: 0 0 4px;
}

.widget_block .wp-block-search .wp-block-search__button {
    border: 0;
    height: 40px;
    line-height: 40px;
    width: 70px;
    padding: 0;
    margin-left: 10px;
    text-align: center;
}

.widget_block .wp-block-search .wp-block-search__input {
    box-shadow: 0 0 10px inset rgba(125, 125, 125, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 40px;
    line-height: 40px;
    width: calc(100% - 90px);
    padding: 0 15px;
    background: #fff;
    color: #222;
    float: left;
}

.widget_block .wp-block-search .wp-block-search__label {
    margin: 0 0 6px;
    font-style: italic;
    display: block;
}

.widget_block.widget_meta li {
    padding: 0 0 10px;
}

.widget_block.widget_nav_menu li {
    padding: 0 0 10px;
}

.widget_block.widget_nav_menu li.menu-item-has-children {
    padding: 0;
}

.widget_block.widget_nav_menu li.menu-item-has-children ul.sub-menu {
    margin: 10px 0 0;
}

.widget_block .wp-block-video iframe {
    width: 100%;
    padding: 0 0 10px;
    height: 200px;
}

/* Search */

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
    width: calc(100% - 10px) !important;
}

.wp-block-search.wp-block-search__no-button .wp-block-search__inside-wrapper {
    width: calc(100% - 2px) !important;
}

.wp-block-search.wp-block-search__button-outside .wp-block-search__inside-wrapper {
    width: 100% !important;
}

















.fo__contact {
	margin: 40px -20px 0;
	padding: 40px 30px;
	position: relative;
}
.ka__details {
	margin: 0 -15px;
}
.fo__logo {
	margin: 0 0 20px;
}
.fo__logo img {
	max-width: 200px;
	height: auto;
	display: block;
}
.fo__masjid {
	float: left;
	width: calc( 50% - 30px );
	margin: 0 15px 30px;
}
.wm__name {
	font-size: 22px;
	font-weight: bold;
	line-height: 1.25;
	margin: 0 0 10px;
}
.fo__detail {
	float: left;
	width: calc( 25% - 30px );
	margin: 0 15px 30px;
}
.fo__contact .hidden_info {
	background: none;
}
.fo__detail table {
	width: 100%;
}
.fo__detail td {
	position: relative;
	padding: 10px 20px 10px 0;
}
.fo__detail td:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 1px;
	opacity: 0.2;
}
.fo__detail td:nth-child(2) {
	text-align: right;
	padding: 10px 0;
}

.ka__maps {
	margin: -40px -30px 30px;
}
.ka__maps .info__maps {
	height: 350px;
}
.info__maps iframe {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 0;
}

/* INFAQ ARCHIVE */
.infaq__loop {
  float: left;
  width: calc( 70% - 20px );
  margin: 0 10px 30px;
}

.infaq__right {
  float: right;
  width: calc( 30% - 20px );
  margin: 0 10px 30px;
}
.saldo__inlap {
	margin: 0 0 20px;
}

.ka__footer {
	margin: 0 -20px;
	padding: 30px 270px 30px 20px;
	font-size: 15px;
	position: relative;
}

.ka__footer:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 1px;
	opacity: 0.2;
}
.wm__social {
	position: absolute;
	top: calc( 50% - 16px );
	right: 20px;
	height: 32px;
}
.wm__social a {
display: inline-block;
margin: 0 0 0 5px;
}
.wm__social i {
	display: block;
width: 32px;
height: 32px;
line-height: 32px;
text-align: center;
border-radius: 32px;
}

/* News Ticker */
.ka__ticker {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
    height: 40px;
    transition: all 0.5s ease 0.1s;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: 1000;
}
.in__ticker {
	position: relative;
	max-width: 1200px;
	height: 30px;
	padding: 5px 0;
	margin: 0 auto;
	overflow: hidden;
}
.ka__ticker ul.newstickers {
    position: relative;
    left: 200px;
    width: 2300px !important;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 3;
}
.ka__ticker ul.newstickers .customize-partial-edit-shortcut {
    left: 50%;
}
.ka__ticker ul.newstickers li {
    float: left;
    display: inline-block;
    margin: 0 60px 0 0;
    padding: 0;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    overflow: hidden;
}
.ka__ticker ul.newstickers a {
    white-space: nowrap;
    padding: 0;
    font-weight: 400;
}
.sing__notable {
	width: 100%;
	margin: 0 0 30px;
}
.sing__notable strong {
	text-transform: uppercase;
}
.sing__notable td {
  padding: 10px 30px 10px 0;
  position: relative;
}
.sing__notable td:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  opacity: 0.3;
}
.sing__notable td:last-child {
	padding: 10px 0;
}
.sing__notable td.sing__firsttab {
	width: 40px;
	text-align: center;
	padding: 10px 0;
}
.sing__contab {
	text-align: center;
	width: 60px;
}


@media screen and (max-width: 982px) {
	.wrapper {
		overflow: hidden;
  padding: 110px 0 40px;
	}
	.ka__header {
		width: calc( 100% - 40px );
		box-shadow: 0 0 20px rgba(0,0,0,0.1);
	}
.ka__logo {
	padding: 25px 0;
}
.ka__logo span {
	display: block;
}
.ka__menu {
  margin: 0 45px 0 0;
}
.kalmenu {
position: fixed;
top: 90px;
right: 0;
bottom: 0;
left: 0;
height: calc( 100% - 90px );
overflow-y: scroll;
transform: scale(0);
transition: all .3s ease-in-out;
	z-index: 1000;
	
}
.kalimenu .kalmenu {
transform: scale(1);
}

.is-mobile .accord {
	
}
    .is-mobile .accord li {
        position: relative;
        float: none;
        display: block;
		padding: 0 20px;
        line-height: 1.3;
        text-align: left;
    }
    .is-mobile .accord li a {
        display: inline-block;
        text-transform: uppercase;
        line-height: 1.3;
        padding: 8px 0;
        font-size: 16px;
        font-weight: bold;
    }
    .is-mobile .accord li a span {
        display: inline-block;
        height: 18px;
        line-height: 18px;
        font-size: 10px;
        padding: 0 5px;
        margin: 0 0 0 12px;
    }
    .is-mobile .accord li.menu-item-has-children:before {
        content: "";
        position: absolute;
        top: 12px;
        right: 20px;
		font-size: 20px;
		width: 12px;
		height: 12px;
		text-align: center;
		opacity: 0.2;
        z-index: 1;
		transition: all .3s ease;
    }
	.is-mobile .accord li.active.menu-item-has-children:before {
		transform: rotate(135deg);
	}
    .is-mobile .accord li>.sub-menu,
    .is-mobile .accord li:hover>.sub-menu {
        padding: 0 20px;
        margin: 0 -20px;
        position: relative;
        background: rgba(0, 0, 0, 0.05);
        width: auto;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    .is-mobile .accord li.active>.sub-menu {
        max-height: 500px;
        opacity: 1;
        transform: translateY(0);
    }
    .is-mobile .accord li>.sub-menu>li {
        width: auto;
		padding: 0;
    }

	.is-mobile .accord ul li:first-child {
		padding-top: 16px;
	}
	.is-mobile .accord ul li:last-child {
		padding-bottom: 16px;
	}
	.is-mobile .accord ul>li.menu-item-has-children:first-child:before {
		top: 28px;
		right: 0;
	}
	
	.ka__loopdkm {
  float: none;
  width: auto;
  margin: 0 0 20px 20px;
}
.ka__dkm {
  margin: 0 -20px;
}
.ka__conadd {
  float: none;
  width: auto;
  margin: 0 20px;
}
.kavid__loop {
  width: 50%;
}
.kavid__loop:nth-child(3) {
  display: none;
}
.kavid__inn iframe {
  height: 260px;
}
.kali__book {
  width: calc( 50% - 20px );
}

.infaq__loop,
.kalap__saldo,
.infaq__right {
  width: calc( 100% - 20px );
  margin: 0 10px 20px;
}
.saldo__in {
	height: auto;
	padding: 30px 30px 80px;
}
.kalap__table {
  width: calc( 100% - 20px );
  margin: 0 10px 20px;
}
.kalap__rek {
  width: calc( 100% - 20px );
  margin: 0 10px;
}
.rek__in {
	height: auto;
}
.kadana__info,
.kadana__list {
  width: 100%;
}
.kadana__text {
	padding: 0;
}

.kajum__date {
  width: 100%;
  font-size: 22px;
  padding: 30px 0;
}
.kajum__data {
	margin: 0 -10px;
}
.wpm_singleIDS {
	width: calc( 20% - 36px );
	padding: 15px;
	font-size: 14px;
}
.wpm_singleIDS:nth-child(2) {
	display: none;
}
.wpm_singleIDS:after {
  font-size: 26px;
}
.wpm__estTime {
  font-size: 20px;
}
.sing__heading {
	padding: 0;
}
.ka__singin {
	padding: 0;
}
.khalifah .MPtimetable tr {
  width: 20%;
}
.khalifah .MPtimetable td:nth-child(1) {
  padding: 15px 15px 0 !important;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}
.khalifah .MPtimetable tr td:before {
  top: 15px;
  left: 15px;
  height: 20px;
  line-height: 20px;
}
.khalifah .MPtimetable td:nth-child(2) {
  padding: 0 15px 15px !important;
  height: 28px;
  line-height: 28px;
  font-size: 20px;
}
.khalifah .MPtimetable tr:after {
  right: 10px;
  top: 5px;
  font-size: 26px;
}
.khalifah .MPtimetable tr:nth-child(3) {
  display: none;
}
}

@media screen and (max-width: 800px) {
  .ka__loopdkm {
    margin: 0 -250px 20px 20px;
  }
  .kavid__inn iframe {
  height: 208px;
}
.tau__box,
.outer_petugas,
.box__layanan  {
margin: 0 -300px 0 -20px;
padding: 0;
}
.tau__box .owl-stage-outer,
.outer_petugas .owl-stage-outer,
.box__layanan  .owl-stage-outer {
	padding: 0 0 0 20px;
}
.ka__looppost {
  width: 33.33%;
}
.ka__postloop .div__clear:nth-child(8n) {
  display: none;
}
.ka__postloop .div__clear:nth-child(6n) {
  display: block;
}
.ka__takmirloop {
  width: 50%;
}
.ka__postloop .kadkm__clear.div__clear:nth-child(6n) {
	display: none;
}
.ka__postloop .kadkm__clear.div__clear:nth-child(4n) {
	display: block;
}
.fo__detail {
  width: calc( 100% - 30px );
  margin: 0 15px;
}

}

@media screen and (max-width: 768px) {
  .ka__loopdkm {
    margin: 0 -282px 20px 20px;
  }
  .kavid__inn iframe {
  height: 200px;
}
.tau__box,
.outer_petugas,
.box__layanan  {
margin: 0 -332px 0 -20px;
padding: 0;
}
}

@media screen and (max-width: 720px) {
  .ka__loopdkm {
    margin: 0 -332px 20px 20px;
  }
  .kavid__inn iframe {
  height: 185px;
}
.tau__box,
.outer_petugas,
.box__layanan  {
margin: 0 -380px 0 -20px;
padding: 0;
}
.ka__singpost,
.ka__sidebar {
	float: none;
  width: 100%;
}
}

@media screen and (max-width: 640px) {
  .ka__loopdkm {
    margin: 0 -410px 20px 20px;
  }
  .kavid__inn iframe {
  height: 163px;
}

.tau__box,
.outer_petugas,
.box__layanan  {
margin: 0 -460px 0 -20px;
padding: 0;
}
}

@media screen and (max-width: 600px) {
	.wrapper {
    padding: 90px 0 172px;
  }
	.ka__header {
	height: 70px;
}
.ka__logo {
    padding: 17px 0;
  height: 36px;
}
.ka__logo img {
	height: 36px;
}

.ka__logo span:after {
	height: 20px;
	top: calc( 50% - 12px );
}
.kalmenu {
top: 70px;
height: calc( 100% - 70px );
}
.ka__menu {
  line-height: 70px;
}
.call__span {
	display: none;
}
.ka__call .call__icon {
  margin: 23px 0;
}
  .ka__loopdkm {
    margin: 0 -450px 20px 20px;
  }
  .kavid__inn iframe {
  height: 153px;
}
.tau__box,
.outer_petugas,
.box__layanan  {
margin: 0 -500px 0 -20px;
padding: 0;
}
 .kali__book {
    width: calc( 100% - 20px );
  }
  .kadana__in {
  width: calc( 100% - 140px );
  margin: 0 10px 20px;
}
.kaloop__galeri {
  width: 50%;
}
.kain__galeri {
  margin: 0 3px 6px;
}
.box__agenda,
.kapeng__box {
  width: 100%;
}
.kaev__loop {
  display: block;
  width: 100%;
}
.kajum__data {
	width: auto;
}
.ka__footer {
	padding: 30px 0;
	font-size: 14px;
	text-align: center;
}
.wm__social {
  position: static;
  width: auto;
  text-align: center;
  padding: 30px 0 0;
}
.ka__ticker {
	bottom: 132px;
}
.in__ticker {
}
.ka__sholattime {
	position: fixed;
	bottom: -30px;
	left: 0;
	right: 0;
	margin: 0;
	z-index: 1000;
}

.wpmwidgetIDS {
	height: 100px;
	padding: 20px 20px 42px;
}
.wm__headspan {
	left: 20px;
	top: 20px;
	height: 20px;
  line-height: 20px;
  font-size: 14px;
}
#wpmprayerIDS {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  margin: 0 0 15px;
}
.wpm_singleIDS:nth-child(2) {
	display: none;
}
.wpm_singleIDS {
  width: calc( 20% - 28px );
  padding: 10px 12px 8px;
	margin: 0 2px;
}
	.wpm__estTime {
  font-size: 20px;
		font-weight: bold;
}
.wpm__prayerTime {
	font-size: 12px;
}
.wpm_singleIDS:after {
    right: 5px;
    font-size: 24px;
}
.ka__looppost {
  width: 50%;
}
.ka__postloop .div__clear:nth-child(6n) {
  display: none;
}
.ka__postloop .div__clear:nth-child(4n) {
  display: block;
}
.post-type-archive-video .ka__looppost {
  width: 100%;
}
.ka__loopimg iframe {
  height: 315px;
}
.ka__takmirloop {
  width: 100%;
}
.ka__postloop .kadkm__clear.div__clear:nth-child(4n) {
	display: none;
}
.ka__postloop .kadkm__clear.div__clear:nth-child(2n) {
	display: block;
}
.fo__masjid {
  width: calc( 100% - 30px );
}
.sing__prev,
.sing__next {
	display: block;
	float: none;
	height: 42px;
	font-size: 14px;
}
.sing__prev {
	width: calc( 100% - 100px );
	margin: 0 55px 15px 0;
}
.sing__next {
	width: calc( 100% - 100px );
	margin: 0 0 15px 55px;
}
.sing__prev i,
.sing__next i {
  height: 42px;
  line-height: 42px;
  font-size: 14px;
}
.ka__sidebar {
	margin: 0 -20px;
}
#sidebar {
	margin: 0;
}
#sidebar .widget_block {
  padding: 10px 20px;
  margin: 0 0 15px;
}

.sing__thumb iframe {
	height: 410px;
}

.khalifah .MPwidget {
	height: 100px;
  padding: 20px 20px 42px;
  width: calc( 100% - 40px ) !important;
}
.khalifah .MPheader {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
	margin: 0 0 15px !important;
  }
  .khalifah .MPheader .title {
  font-size: 14px !important;
  margin: 0;
  height: 20px !important;
    line-height: 20px !important;
}
.khalifah .MPtimetable {
	margin: 0 0 20px;
	width: 100%;
}
 .khalifah .MPtimetable td:nth-child(1) {
    padding: 10px 12px 0 !important;
    height: 17px;
    line-height: 17px;
    font-size: 12px;
  }
  .khalifah .MPtimetable tr td:before {
    top: 10px;
    left: 12px;
    height: 17px;
    line-height: 17px;
  }
  .khalifah .MPtimetable tr:after {
    font-size: 22px;
  }
   .khalifah .MPtimetable td:nth-child(2) {
    padding: 0 12px 10px !important;
    height: 28px;
    line-height: 28px;
    font-size: 20px;
  }
}

@media screen and (max-width: 533px) {
  .ka__loopdkm {
    margin: 0 -540px 20px 20px;
  }
  .kavid__loop {
	  float: none;
    width: 100%;
	margin: 0 0 20px;
  }
  .kavid__loop:nth-child(3) {
	  display: block;
  }
  .kavid__inn iframe {
  height: 277px;
}

.tau__box,
.outer_petugas,
.box__layanan  {
margin: 0 -564px 0 -20px;
padding: 0;
}

.ka__singpost,
.ka__sidebar {
  width: auto;
}
}

@media screen and (max-width: 480px) {
  .ka__loopdkm {
    margin: 0 -540px 20px 20px;
  }
  .kavid__inn iframe {
  height: 248px;
}
.tau__box,
.outer_petugas,
.box__layanan  {
margin: 0 -620px 0 -20px;
padding: 0;
}
 .khalifah .MPtimetable td:nth-child(2) {
    font-size: 16px;
  }
}

@media screen and (max-width: 420px) {
	.wrapper {
    padding: 90px 0 114px;
  }

#bigslider {
  margin: 0 0 15px;
}
#bigslider .item {
  border-radius: 15px;
}

.ka__ticker {
	bottom: 89px;
	height: 26px;
}
.in__ticker {
	height: 16px;
}
.ka__ticker ul.newstickers li {
	height: 16px;
	line-height: 16px;
	font-size: 12px;
}
.wpmwidgetIDS {
	height: 65px;
	padding: 12px 12px 42px;
}
.wm__headspan {
	left: 12px;
	top: 12px;
	height: 12px;
  line-height: 12px;
  font-size: 12px;
}
#wpmprayerIDS {
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  margin: 0 0 10px;
}
.wpm_singleIDS:nth-child(2) {
	display: none;
}
.wpm_singleIDS {
  width: calc( 20% - 20px );
  padding: 6px 8px 4px;
	margin: 0 2px;
	border-radius: 5px;
}
	.wpm__estTime {
  font-size: 16px;
		font-weight: bold;
}
.wpm__prayerTime {
	font-size: 10px;
}
.wpm_singleIDS:after {
  right: 2px;
  top: 0;
  font-size: 16px;
}

 .khalifah .MPwidget {
    height: 65px;
    padding: 12px 12px 42px;
    width: calc( 100% - 24px ) !important;
  }
  .khalifah .MPheader {
    height: 12px;
	min-height: 12px !important;
    line-height: 12px;
    font-size: 12px;
    margin: 0 0 10px !important;
  }
 .khalifah .MPtimetable td:nth-child(1) {
    padding: 6px 8px 0 !important;
    height: 14px;
    line-height: 14px;
    font-size: 10px;
  }
   .khalifah .MPtimetable tr td::before {
    top: 6px;
    left: 8px;
    height: 14px;
    line-height: 14px;
  }
.khalifah .MPtimetable td:nth-child(2) {
    padding: 0 8px 4px !important;
    height: 22px;
    line-height: 22px;
    font-size: 16px;
  }
  .khalifah .MPtimetable tr::after {
    font-size: 16px;
	top: 2px;
  }
.khalifah .MPheader .title {
  font-size: 12px !important;
  height: 12px !important;
    line-height: 12px !important;
}

.kainv__title,
.katau__title,
.kashalat__title,
.kalib__title,
.kalay__title,
.kainv__title,
.kavid__title {
  font-size: 18px;
  margin: 0 auto 25px;
}
.ka__contact {
  margin: 0 0 30px;
}
.kainv__post img {
  margin: 0 0 12px;
}
.kainv__cat {
	font-size: 14px;
}


.ka__loopdkm {
    margin: 0 -420px 20px 20px;
  }
.ka__dkmimg {
  width: 92px;
  height: 92px;
  margin: 0 12px 0 0;
}
.ka__dkmbio {
  float: left;
  width: calc( 100% - 108px );
  padding: 6px 0;
}
.ka__takpos {
	font-size: 12px;
}
.ka__takmir {
	height: 32px;
	line-height: 16px;
	font-size: 14px;
	margin: 0 0 6px;
}
.ka__pro {
  height: 24px;
  line-height: 24px;
  padding: 0 12px;
  font-size: 10px;
}
.ka__address {
  height: auto;
  padding: 20px 60px 20px 20px;
}
.ka__name {
  height: 16px;
  line-height: 16px;
  font-size: 14px;
}
.ka__location {
	font-size: 12px;
}
.ka__addr {
	height: auto;
}


  .kavid__inn iframe {
  height: 210px;
}
.sing__thumb iframe {
    height: 210px;
}

.tau__item img {
  margin: 0 0 12px;
}
.tau__box,
.outer_petugas,
.box__layanan   {
margin: 0 -540px 0 -20px;
padding: 0;
}
.tau__meta {
  padding: 0 8px;
}
.tau__aut {
  font-size: 11px;
  margin: 0 0 8px;
}
.tau__ttl {
font-size: 15px;
-webkit-line-clamp: 3;
}
.tau__time {
  right: 15px;
  bottom: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0 8px;
  font-size: 10px;
}
.kashalat__in {
  padding: 15px 15px 10px;
}
.shalat_petugas span {
  font-size: 11px;
}
.shalat_petugas span:nth-child(2) {
	font-size: 14px;
}
.kashalat__in i {
  right: 10px;
  font-size: 40px;
}
.shalat__name {
  height: 22px;
  line-height: 22px;
  font-size: 10px;
  padding: 0 12px 0 15px;
}

.book__title {
  font-size: 14px;
}
.book__page {
  font-size: 85%;
}
.book__data {
	font-size: 12px;
  padding: 0 0 0 18px;
}
.book__cover {
  width: 108px;
  height: 144px;
}

.kalay__data {
  padding: 12px 10px;
}
.kalay__link {
  font-size: 14px;
  margin: 0 0 8px;
}
.kalay__contact  {
	font-size: 12px;
	padding: 0 35px 0 0;
}
.kalay__call {
  top: calc( 50% - 13px );
  width: 26px;
  height: 26px;
  line-height: 26px;
}
.kalay__data:after {
  top: -6px;
  left: 24px;
}

.saldo__in {
  padding: 25px 25px 70px;
}
.saldo__title {
  font-size: 16px;
  margin: 0 0 25px;
}
.saldo__show {
  font-size: 26px;
}
.rek__link {
  bottom: 20px;
  right: 25px;
  height: 28px;
  line-height: 28px;
  padding: 0 12px;
  font-size: 12px;
}
.kalap__table {
  font-size: 14px;
}
.dana__infaq td {
  padding: 8px 25px 8px 0;
}
.dana__infaq td.dana__right {
	padding: 8px 0;
}
.rek__in {
  padding: 25px;
}
.saldo__line {
  font-size: 14px;
}
.dana__title {
  font-size: 20px;
  margin: 0 80px 15px 0;
}
.dana__addtext {
  font-size: 13px;
  margin: 0 60px 15px 0;
}

.kadana__in {
  padding: 25px 90px 25px 25px;
  width: calc( 100% - 135px );
}
.kadana__date {
  font-size: 12px;
}
.kadana__name {
  font-size: 15px;
  height: auto;
}
.kadana__in i {
  top: 22px;
}
.kaall__galeri a {
  height: 28px;
  line-height: 28px;
  padding: 0 12px;
  font-size: 12px;
}


.kaev__box {
  padding: 25px;
}
.kaev__bot {
  font-size: 12px;
}
.kapeng__title {
  font-size: 18px;
  margin: 0 auto 25px;
}
.kapeng__date {
  font-size: 12px;
}
.kapeng__link {
  font-size: 15px;
  line-height: 1.3;
}
.kapeng__exc {
	font-size: 13px;
}
.kajum__meta {
  padding: 25px 20px 5px;
}
.kajum__date {
    font-size: 16px;
    padding: 0 0 15px 0;
  }
  .jum__date {
  font-size: 24px;
}
.kajum__block {
  width: calc( 50% - 46px );
  margin: 0 8px 16px;
  padding: 15px;
  height: 70px;
  font-size: 14px;
}
.kajum__label {
  font-size: 12px;
}
.kajum__block:before {
  bottom: 0px;
  right: 6px;
  font-size: 43px;
  height: 43px;
  letter-spacing: -1px;
}
.ka__sidebar {
	margin: 0 -12px;
}
.ka__postshow {
	margin: 0 -6px;
}
.ka__postloop {
  margin: 0 -6px;
}
.ka__looppost {
  width: 50%;
}
.ka__jumat.ka__looppost {
  width: 100%;
}
.ka__loopjumat span {
  font-size: 13px;
}
.ka__loopjumat div {
  font-size: 14px;
  -webkit-line-clamp: 2;
}
.ka__loopinn {
  margin: 0 6px 20px;
}
.ka__loopimg {
  margin: 0 0 12px;
}
.ka__loopmeta {
  padding: 0 8px;
}
.ka__looptime {
  font-size: 11px;
  margin: 0 0 8px;
}
.ka__looptitle {
  font-size: 14px;
  -webkit-line-clamp: 3;
}


.ka__loopimg iframe {
  height: 215px;
}


  .ka__footer {
    padding: 20px 0;
    font-size: 13px;
  }

.wm__social {
    padding: 20px 0 0;
	height: 30px;
  }
  .wm__social i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}


.fo__contact {
  padding: 30px 20px;
  font-size: 13px;
}
.ka__maps {
  margin: -40px -20px 30px;
}
.wm__name {
  font-size: 18px;
}
.ka__maps .info__maps {
  height: 300px;
}

.ka__singin {
  margin: 0 6px;
}
.sing__date {
  font-size: 14px;
}
.sing__heading {
  margin: 0 0 15px;
  font-size: 22px;
}
.sing__meta {
  margin: 0 0 15px;
  font-size: 13px;
}
.sing__share {
  height: 30px;
  margin: 0 0 15px;
}
.sing__share a {
  width: 30px;
  line-height: 30px;
  border-radius: 30px;
}
.ka__singin {
	padding: 0;
}
.sing__content {
  margin: 0;
}
.sing__content p {
  margin: 0 0 15px;
  font-size: 14px;
  line-height: 1.4;
}
.sing__content li {
    font-size: 14px;
    line-height: 1.4;
}
.sing__content blockquote {
    padding: 15px;
    margin: 0 0 15px;
    font-size: 15px;
    line-height: 1.4;
}

.sing__content blockquote p {
    font-size: 15px;
    line-height: 1.4;
}
.sing__content h1 {
    font-size: 22px;
}

.sing__content h2,
.widget_block h2 {
    font-size: 20px;
}

.sing__content h3 {
    font-size: 19px;
}

.sing__content h4 {
    font-size: 18px;
}

.sing__content h5 {
    font-size: 17px;
}

.sing__content h6 {
    font-size: 16px;
}
#sidebar .widget_block {
	font-size: 14px;
}
}